<form class="edit" action="/edit" method="post">
    <input type="text" name="first" placeholder="First name">
    <input type="text" name="last" placeholder="Last name">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="age" placeholder="Age">
    <input type="text" name="city" placeholder="City">
    <input type="text" name="homepage" placeholder="Homepage">
    <input type="password" name="password" placeholder="Password">
    <button>UPDATE</button>
</form>
