<div class='container-1'>
    <a class="login-text" href='/registration'>You don't have an account yet? Please register here.</a>
    <div id="img-container">
        <img id="dog3" src="img/dog3.jpg">
    </div>

    <form class="form1" action="/login" method="POST">
        <input type="text" name="email" placeholder="Email">
        <input name="password" type="password" placeholder="Password">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button id="login-button" class="signup-button">Submit</button>
    </form>

</div>

{{error}}
