<h1>WildLife</h1>

<p>save the bla di bla</p>

<form action="/petition" method="post">
    <input type="text" name="first" placeholder="First name">
    <input type="text" name="last" placeholder="Last name">
    <input id="hidden" type="hidden" name="signature">
    <button>SUBMIT</button>

</form>

{{error}}
<canvas id="canvas" width="500" height="80"></canvas>
