

<div class="container-img">
<div class="photo"></div>
</div>

<div class="container-petition">
    <div class="box-1">
        <h1>Save the African Wild Dogs</h1>
    </div>
    <div class="box-2">
        <p>Only 6600 African wild dogs remain in their natural habitat.</p>
        <p>Help us in creating a protected habitat for these African wild dogs, while reducing the human conflicts surrounding them.</p>
    </div>
    <div class="box-3">
        <p>Support us by signing the petition.</p>
    </div>
</div>


<form class="form" action="/petition" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input id="hidden" type="hidden" name="signature">
    <div class="submit">
        <canvas id="canvas" width="350" height="60"></canvas>
    <button class="submit-button">SUBMIT</button>
    </div>
</form>
<!-- <a href="/logout">Click here to Logout.</a> -->
{{error}}
