<h1>Please enter more info</h1>

<form class="" action="/profile" method="post">
    <input type="number" name="age" placeholder="Age">
    <input type="text" name="city" placeholder="City">
    <input type="text" name="url" placeholder="Homepage">
    <button>CONTINUE</button>
</form>

{{error}}
