<div id="img-container2">
    <img id="dog10" src="img/dog10.jpg">
</div>

<h1>Please share more information about yourself (optional).</h1>

<div class="container2">

<form id="profile-form" class="form1" action="/profile" method="post">
    <input type="number" name="age" placeholder="Age">
    <input type="text" name="city" placeholder="City">
    <input type="text" name="url" placeholder="Homepage">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button id="continue-button" class="signup-button">CONTINUE</button>
</form>

{{error}}
</div>

<div class="logout">
    <a href="/logout">Click here to Logout</a>
</div>
