<form class="" action="/registration" method="post">
    <input type="text" name="first" placeholder="First name">
    <input type="text" name="last" placeholder="Last name">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <button>SIGN UP</button>
</form>

{{error}}

<a href='/login'>You don't have an account yet? Please register here.</a>
