<h1> THANK YOU PAGE</h1>


<a href='/signers'>See all {{count}} signers</a>


<img id="signature-image" src="{{signature}}">

<a href="/edit">Please click here to update your profile.</a>

<form class="" action="/delete" method="post">

<button>Delete your signature</button>

</form>
