

<h1 class="save">Save the African Wild Dogs</h1>

<div class="container">
<p id="p1">Only 6600 African wild dogs remain in their natural habitat.</p>
<p id="p2">Help us in creating a protected habitat for these African wild dogs, while reducing the human conflicts surrounding them.<p>
<p id="p3"><strong>Support us by signing the petition.</strong> </p>
</div>
<form action="/petition" method="post">
    <input  class="first" type="text" name="first" placeholder="First name">
    <input class="last" type="text" name="last" placeholder="Last name">
    <input id="hidden" type="hidden" name="signature">
    <button>SUBMIT</button>

</form>

{{error}}

<canvas id="canvas" width="500" height="80"></canvas>
